
p {
    color: rgb(21, 7, 115);
    
  }


li {
  /*margin-bottom es la distancia que tendra la linea de texto una debajo del otro*/
  margin-bottom: 0.5rem;
}

a[href^='mailto']::before {
  content: '📧 ';
}
/*
img {
  display: block;
  margin: 0 auto;
  width: 260px;
  height: 260px;
}
*/